.container{
    width: 65%;
    margin: auto;
}

.email{
    display: flex;
    justify-content: space-between; 
}

h1,h2{
    text-align: center;
}

.aboutme{
    text-align: justify;
    text-justify: inter-word;
}